# RTD -> Temp_Sensor.log

## turn log into dataframe

In [8]:
import pandas as pd

log_data  = open('Temp_Sensor.log', 'r', encoding='UTF-8')
split_list = []

for line in log_data:
    thing1 = line.split('\n')
    time = thing1[0][:17]
    temp = thing1[0][18:]
    split_list.append([time, temp])

In [9]:
raw_data = pd.DataFrame(split_list, columns=['time', 'temp'])

In [10]:
type(raw_data.iloc[2,1])

str

In [11]:
raw_data.head(5)

                time    temp
0  1573006235.025163  -242.0
1  1573006236.183161  -242.0
2  1573006237.334974  -242.0
3  1573006238.476602  -242.0
4  1573006239.627224  -242.0

## split data

In [22]:
RTD_data = raw_data[raw_data["time"].between("1574985600","1575676800")]
print(RTD_data.head(5))
print(len(RTD_data))

                      time         temp
1614576  1574985600.400110  22.96120622
1614577  1574985601.817157  22.99501191
1614578  1574985603.025876  22.96120622
1614579  1574985604.221778  22.92740087
1614580  1574985605.404173  22.96120622
563120

In [21]:
RTD_data.tail(5)

                      time         temp
2177698  1575676794.996638  20.22407366
2177699  1575676796.205246  20.22407366
2177700  1575676797.558020  20.25785184
2177701  1575676798.763794  20.25785184
2177702  1575676799.975867  20.25785184

In [20]:
RTD_data_1 = RTD_data[RTD_data["temp"].between("100","200")]
print(RTD_data_1.head(5))
print(len(RTD_data_1))

                      time         temp
1872214  1575294320.256715  20.96727201
1872219  1575294326.476747  20.96727201
1872226  1575294335.271730  20.96727201
1872231  1575294341.397881  20.96727201
1872237  1575294348.932472  20.96727201
65011

In [17]:
RTD_data_2 = RTD_data[RTD_data["temp"].between("0","200")]
print(RTD_data_2.head(5))
print(len(RTD_data_2))

                      time         temp
1872214  1575294320.256715  20.96727201
1872219  1575294326.476747  20.96727201
1872226  1575294335.271730  20.96727201
1872231  1575294341.397881  20.96727201
1872237  1575294348.932472  20.96727201
65011

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

f, ax = plt.subplots(figsize=(22, 6))
plt.scatter(RTD_data['time'],RTD_data['temp'],color='red')
plt.show()

## turn str into float and round

In [9]:
def trans_round_float(number):
    try:
        return round(float(number))
    except:
        return 0

In [10]:
RTD_data.iloc[:,0] = list(map(trans_round_float, RTD_data.iloc[:,0]))

RTD_data.iloc[:,1] = list(map(trans_round_float, RTD_data.iloc[:,1]))

/home/projectx/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value
/home/projectx/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [11]:
type(RTD_data.iloc[2,1])

numpy.int64

In [12]:
RTD_data.head(5)

               time  temp
1614576  1574985600    23
1614577  1574985602    23
1614578  1574985603    23
1614579  1574985604    23
1614580  1574985605    23

In [13]:
RTD_data_new = RTD_data.reset_index()

In [14]:
RTD_data_new.head()

     index        time  temp
0  1614576  1574985600    23
1  1614577  1574985602    23
2  1614578  1574985603    23
3  1614579  1574985604    23
4  1614580  1574985605    23

In [15]:
RTD_data_new = RTD_data_new.drop(['index'], axis=1)

In [16]:
RTD_data_new.head()

         time  temp
0  1574985600    23
1  1574985602    23
2  1574985603    23
3  1574985604    23
4  1574985605    23

In [17]:
RTD_data_new["temp"].describe()

count    563120.000000
mean         24.867748
std           7.435750
min        -242.000000
25%          21.000000
50%          23.000000
75%          25.000000
max         983.000000
Name: temp, dtype: float64

In [18]:
RTD_data_new.to_csv('RTD_data_new.csv')