# Lux -> lux_sensor.log

In [12]:
import pandas as pd

log_data  = open('lux_Sensor.log', 'r', encoding='UTF-8')
split_list = []

for line in log_data:
    thing1 = line.split('\n')
    
    time = thing1[0][:17]
    lux = thing1[0][18:]

    split_list.append([time, lux])

lux_data = pd.DataFrame(split_list, columns=['time', 'lux'])
lux_data.head(5)

                time    lux
0  1574905580.311033  40.00
1  1574905581.430565  40.00
2  1574905582.495352  40.00
3  1574905583.541548  40.00
4  1574905584.583940  40.00

In [14]:
def safe_float(number):
    try:
        return float(number)
    except:
        return 0

lux_data.iloc[:,0] = list(map(safe_float, lux_data.iloc[:,0]))

In [15]:
lux_data.head(5)

           time    lux
0  1.574906e+09  40.00
1  1.574906e+09  40.00
2  1.574906e+09  40.00
3  1.574906e+09  40.00
4  1.574906e+09  40.00

In [17]:
lux_data.iloc[0,0]

1574905580.311033